@import 'src/styles/base/base';

.textarea__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.textarea__label {
  font-weight: bold;
  color: #353a46;
  margin: 0;
}

.textarea__input {
  border: 2px solid $border-color;
  border-radius: 4px;
  margin: 16px 0;
  padding: 8px;
  transition: all 0.25s;

  &:focus {
    outline: none;
    border: 2px solid $focus-border;
  }
}
