@import 'src/styles/base/base';

.form-wrapper {
  padding: 32px 16px;
}

.form__title {
  color: $bold-text-color;
  margin: 0 0 24px 0;
}

.form {
  border-top: $border-standard;
  padding: 16px 0;
  margin: 16px 0;
}
